/* Reset de estilos para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("fundoNos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    height: 160vh;
}

header {
    background-color: #141414;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#contador {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


.logo img {
    width: 100px;
    height: auto;
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}

.hero {
    min-height: 500px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-content {
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero button {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.lista-filmes {
    display: flex;
    justify-content: center;
}

.filme {
    width: 200px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}

.filme img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.filme h3 {
    font-size: 18px;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #000;position: fixed;
    bottom: 0;
    width: 100%;
}